<div  ng-controller="trainingController" class="jumbotron text-center">
<!-- Split button -->
<div class="btn-group pull-right">
  <button type="button" class="btn btn-info">Languages</button>
  <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <span class="caret"></span>
    <span class="sr-only">Toggle Dropdown</span>
  </button>
  <ul class="dropdown-menu">
    <li><a href="#">Action</a></li>
    <li><a href="#">Another action</a></li>
    <li><a href="#">Something else here</a></li>
    <li role="separator" class="divider"></li>
    <li><a href="#">Separated link</a></li>
  </ul>
</div>
    <h1>Training</h1>
    <div class="input-group">
      <input ng-model="trainingText" type="text" class="form-control" placeholder="Type some words and feel the sound vibration">
      <span class="input-group-btn">
        <button ng-click="translateText()" class="btn btn-success" type="button">Go!</button>
      </span>
    </div><!-- /input-group -->
    <!-- Split button -->
</div>
