<div ng-controller="lipsReadingController" class="jumbotron modal-border text-center">
    <h1>Lips reading</h1>
    <button type="button" class="btn btn-success btn-lg" ng-click="open()">
        <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> Info
    </button>
    <button type="button" class="btn btn-success btn-lg" onclick="startVideo()">
        <span class="glyphicon glyphicon-facetime-video" aria-hidden="true"></span> Turn on your webcam and let's have some fun
    </button>
    <br>
    <p id="letter"></p>
        <div id="emotion_container">
        <div id="emotion_icons">
            <img class="emotion_icon" id="icon1" src="modules/media/icon_angry.png" style="visibility: hidden;">
            <img class="emotion_icon" id="icon2" src="modules/media/icon_sad.png" style="visibility: hidden;">
            <img class="emotion_icon" id="icon3" src="modules/media/icon_surprised.png" style="visibility: hidden;">
            <img class="emotion_icon" id="icon4" src="modules/media/icon_happy.png" style="visibility: hidden;">
        </div>
        <div id="emotion_chart">
        </div>
    </div>
    <!-- Open modal with details -->
    <script type="text/ng-template" id="myModalContent.html">
        <div class="modal-border">
            <div class="modal-header">
                <h3 class="modal-title">Steps and details</h3>
            </div>
            <div class="modal-body">
                <h4>Features</h4>
                <ul>
                    <li ng-repeat="item in items">
                        <a href="#" ng-click="$event.preventDefault(); selected.item = item">{{ item }}</a>
                    </li>
                </ul>
                <div ng-if="selected.item === 'Webcam'">
                    Selected: <b>{{ selected.item }}</b>
                    <br>
                    <p>First step is to turn on your webcam</p>
                    <br>
                    <img class="webcam-img" src="modules/lipsreading/images/webcam.svg">
                </div>
                <div ng-if="selected.item === 'Speacking'">
                    Selected: <b>{{ selected.item }}</b>
                    <br>
                    <p>After you turn on your webcam you can start speacking and observe your lips</p>
                    <br>
                    <img class="webcam-img" src="modules/lipsreading/images/speaking-icon.svg">
                </div>
                <div ng-if="selected.item === 'Translation'">
                    Selected: <b>{{ selected.item }}</b>
                    <br>
                    <p>Under the webcam view you're gonna' see all translations of what you try to say to the system.</p>
                    <br>
                    <img class="webcam-img" src="modules/lipsreading/images/translation.jpeg">
                </div>
                <div ng-if="selected.item === 'Charts'">
                    Selected: <b>{{ selected.item }}</b>
                    <br>
                    <p>You can enable the chart that can reflect your evolution in speacking</p>
                    <br>
                    <img class="webcam-img" src="modules/lipsreading/images/chart.jpg">
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
                <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
            </div>
        </div>
    </script>
    <!-- Open modal with details -->
    <!-- Open modal with details -->
    <script type="text/ng-template" id="myWebCam.html">
        <div class="modal-border">
            <div class="modal-header">
                <h3 class="modal-title">Webcam - Lips-Reading</h3>
            </div>
            <div class="modal-body">
                <div id="container">
                    <video autoplay="true" id="videoElement">
                    </video>
                </div>
                <br>
                <textarea class="form-control" style="min-width: 100%"></textarea>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
                <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
            </div>
            <script type="text/javascript">
            var video = document.querySelector("#videoElement");
            navigator.getUserMedia = navigator.getUserMedia || navigator.webkitGetUserMedia || navigator.mozGetUserMedia || navigator.msGetUserMedia || navigator.oGetUserMedia;
            if (navigator.getUserMedia) {
                navigator.getUserMedia({
                    video: true
                }, handleVideo, videoError);
            }

            function handleVideo(stream) {
                video.src = window.URL.createObjectURL(stream);
            }

            function videoError(e) {
                document.write("can't use the webcam");
            }
            </script>
        </div>
</div>
<div id="content">
<script>
                var videoInput = document.getElementById('videoel');
        
        var ctracker = new clm.tracker();
        ctracker.init(pModel);
        ctracker.start(videoInput);
                
                function positionLoop() {
          requestAnimationFrame(positionLoop);
          var positions = ctracker.getCurrentPosition();
          //console.log(positions)
          // do something with the positions ...
          // print the positions
          var positionString = "";
          //console.log(positions[5][0])
          var Coord1 = positions[5][0].toString().slice(0,3);
          var Coord2 = positions[5][1].toString().slice(0,3);
          var valueText = $( "text" ).text();
          var numberPattern = /\d+/g;
          var coord = valueText.match( numberPattern );
          //console.log(coord[2]);
          console.log(coord);
          //2345
          //console.log(Coord1, Coord2)
          if(coord[5] === '9' || coord[5] === '8'){
            document.getElementById('letter').innerHTML = 'Your pronunciation: I';
            console.log('I')
          }
          if(coord[2] === '40'){
            document.getElementById('letter').innerHTML = 'Your pronunciation: A';
            console.log('A')
          }
           if(coord[2] === '10' && coord[5] !== '9' && coord[5] !== '8'){
            document.getElementById('letter').innerHTML = 'Your pronunciation: E';
            console.log('E')
          }
          // if(coord[3] === '00'){
          //   document.getElementById('letter').innerHTML = 'O';
          //   console.log('O')
          // }
          if(coord[5] === '1'){
            document.getElementById('letter').innerHTML = 'Your pronunciation: U';
            console.log('U')
          }

          if (positions) {
            for (var p = 0;p < 10;p++) {
              positionString += "featurepoint "+p+" : ["+positions[p][0].toFixed(2)+","+positions[p][1].toFixed(2)+"]<br/>";
            }
            document.getElementById('positions').innerHTML = positionString;
          }
        }
        positionLoop();
                
                var canvasInput = document.getElementById('canvas');
                var cc = canvasInput.getContext('2d');
                function drawLoop() {
          requestAnimationFrame(drawLoop);
          cc.clearRect(0, 0, canvasInput.width, canvasInput.height);
          ctracker.draw(canvasInput);
        }
        drawLoop();
            </script>
<!--   <video id="videoel" width="400" height="300" preload="auto" loop="" src="blob:https://www.auduno.com/e1510c3b-b143-487f-9c16-99f8ce213790"> -->
    <video id="videoel" width="400" height="300">
    </video>
    <canvas id="overlay" width="400" height="300"></canvas>
    <br>
    <p id="positions"></p>
    <div id="controls">
        <!-- <input class="btn" type="button" value="start" onclick="startVideo()" id="startbutton"> -->
        <input class="btn" type="button" value="start" id="startbutton">
    </div>
    <script>
    var vid = document.getElementById('videoel');
    var overlay = document.getElementById('overlay');
    var overlayCC = overlay.getContext('2d');

    /********** check and set up video/webcam **********/

    function enablestart() {
        var startbutton = document.getElementById('startbutton');
        startbutton.value = "start";
        startbutton.disabled = null;
    }

    /*var insertAltVideo = function(video) {
        if (supports_video()) {
            if (supports_ogg_theora_video()) {
                video.src = "../media/cap12_edit.ogv";
            } else if (supports_h264_baseline_video()) {
                video.src = "../media/cap12_edit.mp4";
            } else {
                return false;
            }
            //video.play();
            return true;
        } else return false;
    }*/
    navigator.getUserMedia = navigator.getUserMedia || navigator.webkitGetUserMedia || navigator.mozGetUserMedia || navigator.msGetUserMedia;
    window.URL = window.URL || window.webkitURL || window.msURL || window.mozURL;

    // check for camerasupport
    if (navigator.getUserMedia) {
        // set up stream

        var videoSelector = {
            video: true
        };
        if (window.navigator.appVersion.match(/Chrome\/(.*?) /)) {
            var chromeVersion = parseInt(window.navigator.appVersion.match(/Chrome\/(\d+)\./)[1], 10);
            if (chromeVersion < 20) {
                videoSelector = "video";
            }
        };

        navigator.getUserMedia(videoSelector, function(stream) {
            if (vid.mozCaptureStream) {
                vid.mozSrcObject = stream;
            } else {
                vid.src = (window.URL && window.URL.createObjectURL(stream)) || stream;
            }
            vid.play();
        }, function() {
            //insertAltVideo(vid);
            alert("There was some problem trying to fetch video from your webcam. If you have a webcam, please make sure to accept when the browser asks for access to your webcam.");
        });
    } else {
        //insertAltVideo(vid);
        alert("This demo depends on getUserMedia, which your browser does not seem to support. :(");
    }

    vid.addEventListener('canplay', enablestart, false);

    /*********** setup of emotion detection *************/

    var ctrack = new clm.tracker({
        useWebGL: true
    });
    ctrack.init(pModel);

    function startVideo() {
        // start video
        vid.play();
        // start tracking
        ctrack.start(vid);
        // start loop to draw face
        drawLoop();
    }

    function drawLoop() {
        requestAnimFrame(drawLoop);
        overlayCC.clearRect(0, 0, 400, 300);
        //psrElement.innerHTML = "score :" + ctrack.getScore().toFixed(4);
        if (ctrack.getCurrentPosition()) {
            ctrack.draw(overlay);
        }
        var cp = ctrack.getCurrentParameters();

        var er = ec.meanPredict(cp);
        if (er) {
            updateData(er);
            for (var i = 0; i < er.length; i++) {
                //console.log(er[i])
                if (er[i].value > 0.4) {
                    document.getElementById('icon' + (i + 1)).style.visibility = 'visible';
                } else {
                    document.getElementById('icon' + (i + 1)).style.visibility = 'hidden';
                }
            }
        }
    }

    var ec = new emotionClassifier();
    ec.init(emotionModel);
    var emotionData = ec.getBlank();

    /************ d3 code for barchart *****************/

    var margin = {
            top: 20,
            right: 20,
            bottom: 10,
            left: 40
        },
        width = 400 - margin.left - margin.right,
        height = 100 - margin.top - margin.bottom;

    var barWidth = 30;

    var formatPercent = d3.format(".0%");

    var x = d3.scale.linear()
        .domain([0, ec.getEmotions().length]).range([margin.left, width + margin.left]);

    var y = d3.scale.linear()
        .domain([0, 1]).range([0, height]);

    var svg = d3.select("#emotion_chart").append("svg")
        .attr("width", width + margin.left + margin.right)
        .attr("height", height + margin.top + margin.bottom)

    svg.selectAll("rect").
    data(emotionData).
    enter().
    append("svg:rect").
    attr("x", function(datum, index) {
        return x(index);
    }).
    attr("y", function(datum) {
        return height - y(datum.value);
    }).
    attr("height", function(datum) {
        return y(datum.value);
    }).
    attr("width", barWidth).
    attr("fill", "#2d578b");

    svg.selectAll("text.labels").
    data(emotionData).
    enter().
    append("svg:text").
    attr("x", function(datum, index) {
        return x(index) + barWidth;
    }).
    attr("y", function(datum) {
        return height - y(datum.value);
    }).
    attr("dx", -barWidth / 2).
    attr("dy", "1.2em").
    attr("text-anchor", "middle").
    text(function(datum) {
        return datum.value;
    }).
    attr("fill", "black").
    attr("class", "labels");

    svg.selectAll("text.yAxis").
    data(emotionData).
    enter().append("svg:text").
    attr("x", function(datum, index) {
        return x(index) + barWidth;
    }).
    attr("y", height).
    attr("dx", -barWidth / 2).
    attr("text-anchor", "middle").
    attr("style", "font-size: 12").
    text(function(datum) {
        return datum.emotion;
    }).
    attr("transform", "translate(0, 18)").
    attr("class", "yAxis");

    function updateData(data) {
        // update
        var rects = svg.selectAll("rect")
            .data(data)
            .attr("y", function(datum) {
                return height - y(datum.value);
            })
            .attr("height", function(datum) {
                return y(datum.value);
            });
        var texts = svg.selectAll("text.labels")
            .data(data)
            .attr("y", function(datum) {
                return height - y(datum.value);
            })
            .text(function(datum) {
                return datum.value.toFixed(1);
            });

        // enter 
        rects.enter().append("svg:rect");
        texts.enter().append("svg:text");

        // exit
        rects.exit().remove();
        texts.exit().remove();
    }

    /******** stats ********/

    stats = new Stats();
    stats.domElement.style.position = 'absolute';
    stats.domElement.style.top = '0px';
    document.getElementById('container').appendChild(stats.domElement);
    // update stats on every iteration
    document.addEventListener('clmtrackrIteration', function(event) {
        stats.update();
    }, false);
    </script>
</div>
</script>
<!-- Open modal with details -->
<script type="text/javascript" charset="utf-8">
var vid = document.getElementById('videoel');
var overlay = document.getElementById('overlay');
var overlayCC = overlay.getContext('2d');

/********** check and set up video/webcam **********/

function enablestart() {
    var startbutton = document.getElementById('startbutton');
    startbutton.value = "start";
    startbutton.disabled = null;
}

/*var insertAltVideo = function(video) {
  if (supports_video()) {
    if (supports_ogg_theora_video()) {
      video.src = "../media/cap12_edit.ogv";
    } else if (supports_h264_baseline_video()) {
      video.src = "../media/cap12_edit.mp4";
    } else {
      return false;
    }
    //video.play();
    return true;
  } else return false;
}*/
navigator.getUserMedia = navigator.getUserMedia || navigator.webkitGetUserMedia || navigator.mozGetUserMedia || navigator.msGetUserMedia;
window.URL = window.URL || window.webkitURL || window.msURL || window.mozURL;

// check for camerasupport
if (navigator.getUserMedia) {
    // set up stream

    var videoSelector = {
        video: true
    };
    if (window.navigator.appVersion.match(/Chrome\/(.*?) /)) {
        var chromeVersion = parseInt(window.navigator.appVersion.match(/Chrome\/(\d+)\./)[1], 10);
        if (chromeVersion < 20) {
            videoSelector = "video";
        }
    };

    navigator.getUserMedia(videoSelector, function(stream) {
        if (vid.mozCaptureStream) {
            vid.mozSrcObject = stream;
        } else {
            vid.src = (window.URL && window.URL.createObjectURL(stream)) || stream;
        }
        vid.play();
    }, function() {
        //insertAltVideo(vid);
        alert("There was some problem trying to fetch video from your webcam. If you have a webcam, please make sure to accept when the browser asks for access to your webcam.");
    });
} else {
    //insertAltVideo(vid);
    alert("This demo depends on getUserMedia, which your browser does not seem to support. :(");
}

vid.addEventListener('canplay', enablestart, false);

/*********** setup of emotion detection *************/

var ctrack = new clm.tracker({
    useWebGL: true
});
ctrack.init(pModel);

function startVideo() {
    // start video
    vid.play();
    // start tracking
    ctrack.start(vid);
    // start loop to draw face
    drawLoop();
}

function drawLoop() {
    requestAnimFrame(drawLoop);
    overlayCC.clearRect(0, 0, 400, 300);
    //psrElement.innerHTML = "score :" + ctrack.getScore().toFixed(4);
    if (ctrack.getCurrentPosition()) {
        ctrack.draw(overlay);
    }
    var cp = ctrack.getCurrentParameters();

    var er = ec.meanPredict(cp);
    //console.log(er)
    if (er) {
        updateData(er);
        for (var i = 0; i < er.length; i++) {
            if (er[i].value > 0.4) {
                document.getElementById('icon' + (i + 1)).style.visibility = 'visible';
            } else {
                document.getElementById('icon' + (i + 1)).style.visibility = 'hidden';
            }
        }
    }
}

var ec = new emotionClassifier();
ec.init(emotionModel);
var emotionData = ec.getBlank();

/************ d3 code for barchart *****************/

var margin = {
        top: 20,
        right: 20,
        bottom: 10,
        left: 40
    },
    width = 400 - margin.left - margin.right,
    height = 100 - margin.top - margin.bottom;

var barWidth = 30;

var formatPercent = d3.format(".0%");

var x = d3.scale.linear()
    .domain([0, ec.getEmotions().length]).range([margin.left, width + margin.left]);

var y = d3.scale.linear()
    .domain([0, 1]).range([0, height]);

var svg = d3.select("#emotion_chart").append("svg")
    .attr("width", width + margin.left + margin.right)
    .attr("height", height + margin.top + margin.bottom)

svg.selectAll("rect").
data(emotionData).
enter().
append("svg:rect").
attr("x", function(datum, index) {
    return x(index);
}).
attr("y", function(datum) {
    return height - y(datum.value);
}).
attr("height", function(datum) {
    return y(datum.value);
}).
attr("width", barWidth).
attr("fill", "#2d578b");

svg.selectAll("text.labels").
data(emotionData).
enter().
append("svg:text").
attr("x", function(datum, index) {
    return x(index) + barWidth;
}).
attr("y", function(datum) {
    return height - y(datum.value);
}).
attr("dx", -barWidth / 2).
attr("dy", "1.2em").
attr("text-anchor", "middle").
text(function(datum) {
    return datum.value;
}).
attr("fill", "black").
attr("class", "labels");

svg.selectAll("text.yAxis").
data(emotionData).
enter().append("svg:text").
attr("x", function(datum, index) {
    return x(index) + barWidth;
}).
attr("y", height).
attr("dx", -barWidth / 2).
attr("text-anchor", "middle").
attr("style", "font-size: 12").
text(function(datum) {
    return datum.emotion;
}).
attr("transform", "translate(0, 18)").
attr("class", "yAxis");

function updateData(data) {
    // update
    var rects = svg.selectAll("rect")
        .data(data)
        .attr("y", function(datum) {
            return height - y(datum.value);
        })
        .attr("height", function(datum) {
            return y(datum.value);
        });
    var texts = svg.selectAll("text.labels")
        .data(data)
        .attr("y", function(datum) {
            return height - y(datum.value);
        })
        .text(function(datum) {
            return datum.value.toFixed(1);
        });

    // enter 
    rects.enter().append("svg:rect");
    texts.enter().append("svg:text");

    // exit
    rects.exit().remove();
    texts.exit().remove();
}

/******** stats ********/

stats = new Stats();
stats.domElement.style.position = 'absolute';
stats.domElement.style.top = '0px';
document.getElementById('container').appendChild(stats.domElement);

// update stats on every iteration
document.addEventListener('clmtrackrIteration', function(event) {
    stats.update();
}, false);
</script>
